---
---

<header>

<h1>
    <a href="#prologue">GPU WARS</a>
</h1>

<nav>

<a href="#prologue">Prologue</a>

<a href="#timeline">Timeline</a>

<a href="#lab">Lab</a>

<a href="#archives">Archives</a>

<a href="#crew">Crew</a>

</nav>

<hr>

</header>

<style>

header {
    position: sticky;
    top: 0;
    background: white;
    padding: 1rem;
    z-index: 999;
}

nav {
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
}

section {
    padding-top: 80px;
}

</style>